<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ project_title }}</title>
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <style>h2{font-size:1rem}.list-group-item{margin:.3rem 0}.btn.btn-light{background-color:#e0e9f3}.input-group>.input-group-append>.btn{border-radius:3px}</style>
    </head>

    <body>

        <div class="container">

            <header>
                <div class="row">
                     <div class="col-12 mt-3 mb-4">
                        <h1>{{ project_title }}</h1>
                    </div>
                </div>
            </header>

            <main>
                <div class="row">
                    <div class="col-2 mt-2">
                        <h2 class="mb-4">Gulp Processes</h2>
                        <button class="btn btn-sm btn-block btn-light mb-3 text-left" onclick="send('build')"><i class="fa-fw fas fa-industry mx-2"></i>build all</button>
                        <button class="btn btn-sm btn-block btn-light mb-3 text-left" onclick="send('css')"><i class="fas fa-fw fa-palette mx-2"></i>compile css</button>
                        <button class="btn btn-sm btn-block btn-light mb-3 text-left" onclick="send('js')"><i class="fas fa-fw fa-code mx-2"></i>compile js</button>
                        <button class="btn btn-sm btn-block btn-light mb-3 text-left" onclick="send('images')"><i class="far fa-fw fa-image mx-2"></i>compress images</button>
                        <button class="btn btn-sm btn-block btn-light mb-3 text-left" onclick="send('favicon')"><i class="fas fa-fw fa-h-square mx-2"></i>create favicon</button>
                        <button class="btn btn-sm btn-danger btn-block mb-3 text-left" onclick="send('clean')"><i class="fa fa-fw fa-minus-circle mx-2"></i>delete templates</button>
                    </div>
                    <div class="col-7 offset-1">

                        <form action="" class="pb-3">
                            <h2 class="mt-4">Create New Templates</h2>
                            <div class="input-group mb-2">
                                <input type="text" class="form-control form-control-sm" id="template" name="template" placeholder="enter template name without .html">
                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-info ml-2" onclick=create(document.getElementsByName('template')[0].value)>create</button>
                                </div>
                            </div>
                        </form>

                        <h2 class="mt-4">Current Templates</h2>
                        <div class="list-group">
                            {{ links }}
                        </div>
                        
                    </div>
                </div>
            </main>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script>
            function send(command){
                $.ajax({
                    url : 'http://localhost:3000/send',
                    method : 'POST',
                    data: {
                        'command': command
                    },
                    success : function(result){
                        console.log(result)
                    },
                    error : function(result){
                        console.log(result)
                    }
                });
            }

            function create(command){
                $.ajax({
                    url : 'http://localhost:3000/create',
                    method : 'POST',
                    data: {
                        'command': command
                    },
                    success: function (result) {
                        console.log(result)
                    },
                    error : function(result){
                        console.log(result)
                    }
                });
            }
        </script>

    </body>

</html>