<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ project_title }}</title>
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>h2{font-size:1rem}.list-group-item{margin:1rem 0}.input-group>.input-group-append>.btn{border-radius:3px}</style>
    </head>

    <body>

        <div class="container">

            <header>
                <div class="row">
                     <div class="col-12 mt-3 mb-4">
                        <h1>{{ project_title }}</h1>
                    </div>
                </div>
            </header>

            <main>
                <div class="row">
                    <div class="col-2 mt-2">
                        <h2 class="mb-4">Gulp Processes</h2>
                        <button class="btn btn-sm btn-block btn-light mb-3" onclick="send('build')">build all</button>
                        <button class="btn btn-sm btn-block btn-light mb-3" onclick="send('css')">compile css</button>
                        <button class="btn btn-sm btn-block btn-light mb-3" onclick="send('js')">compile js</button>
                        <button class="btn btn-sm btn-block btn-light mb-3" onclick="send('images')">compress images</button>
                        <button class="btn btn-sm btn-block btn-light mb-3" onclick="send('favicon')">create favicon</button>
                        <button class="btn btn-sm btn-danger btn-block mb-3" onclick="send('clean')">delete templates</button>
                    </div>
                    <div class="col-7 offset-1">
                        <form class="py-3">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control form-control-sm" id="template" name="template" placeholder="create new template">
                                <div class="input-group-append">
                                    <buttton class="btn btn-sm btn-info ml-2" onclick=create(document.getElementsByName('template')[0].value)>create</buttton>
                                </div>
                            </div>
                        </form>
                        <h2 class="mt-4">Current Pages</h2>
                        <div class="list-group">
                            {{ links }}
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script>
            function send(command){
                $.ajax({
                    url : 'http://localhost:3000/send',
                    method : 'POST',
                    data: {
                        'command': command
                    },
                    success : function(result){
                        console.log(result)
                    },
                    error : function(result){
                        console.log(result)
                    }
                });
            }

            function create(command){
                $.ajax({
                    url : 'http://localhost:3000/create',
                    method : 'POST',
                    data: {
                        'command': command
                    },
                    success: function (result) {
                        console.log(result)
                    },
                    error : function(result){
                        console.log(result)
                    }
                });
            }
        </script>

    </body>

</html>